.container__menu-title {
    color: #fff;
}

.container__menu-title > h1{
    font-size: 13.5rem;
    font-family: 'segoe UI';

    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.container__menu-title > hr{
    margin: 2rem 0;
}