@media (max-width: 1115px) {
    .container__menu-title>h1 {
        font-size: 10rem;
    }
}
@media (max-width: 768px) {
    .container__menu-title>h1 {
        font-size: 7rem;
    }
}

@media (max-width: 426px) {
    .container__menu-title>h1 {
        font-size: 5rem;
    }
    
}