.container__small-card {
    width: 70rem;
    margin-bottom: 1rem;
}

.container__small-card-content {
    display: flex;

}

.small-card__photo >img {
width: 20rem;
min-width: 20rem; /*Define um valor mínimo de largura para img*/
margin-right: 2rem;
}

.small-card__title  {
    display: flex;
    justify-content: center;
    align-items: center;
}


.container__small-card-separator {
    margin-top: 1rem;
}