@media (max-width: 1115px) {
    .container__articles {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 426px) {
    .articles__main {
        width: 100%;
    }
}